<style>
    /* Styles for the search form */
    form {
        display: flex;
        margin-bottom: 20px;
    }
    input[type="text"] {
        flex: 1;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px 0 0 5px;
        border: none;
        background-color: #ffff80;
        color: #333;
    }
    button[type="submit"] {
        padding: 10px 15px;
        font-size: 16px;
        border-radius: 0 5px 5px 0;
        border: none;
        background-color: #023020;
        color: #fff;
        cursor: pointer;
    }
    button[type="submit"]:hover {
        background-color: #0069d9;
    }

    /* Styles for the search results */
    h2 {
        font-size: 24px;
        margin-bottom: 10px;
        color: #ff0000;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        background-color: #07BB9C;
    }
    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #b3607a;
        color: #fff;
    }
    tr:nth-child(even) {
        background-color: #88d8c0 ;
    }
    a {
        color: #282120;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    
    /* Styles for the page layout */
    body {
        background-color: #36EEE0;
        color: #05014a;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.4;
        margin: 0;
        padding: 0;
    }
    main {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }
    h1 {
        background-color: #36EEE0; /* Set the background color of the heading */
        color: #D4AF37; /* Set the text color of the heading */
        padding: 10px;
        text-align: center;
    }
    footer {
        background-color: #36EEE0; /* Set the background color of the footer */
        color: #E75480; /* Set the text color of the footer */
        padding: 10px;
        text-align: center;
    }
</style>

<main>
    <h1>DDGIT Search</h1> 
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="search_query" placeholder="Search for repositories">
        <button type="submit">Search</button>
    </form>

    {% if repositories %}
        <h2>Search Results:</h2>
        <table>
            <thead>
                <tr>
                    <th>Repository Name</th>
                    <th>Repository URL</th>
                    <th>Number of Stars</th>
                </tr>
            </thead>
            <tbody>
                {% for repo in repositories %}
                    <tr>
                        <td>{{ repo.name }}</td>
                        <td><a href="{{ repo.html_url }}">{{ repo.html_url }}</a></td>
                        <td>{{ repo.stargazers_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        

        </table>
    {% else %}
        <p>No repositories found.</p>
    {% endif %}
    <footer> 
        &copy; 2023 by DD .All Right Reserved. 
    </footer> 
    
</main>
